body {
  background-color: #e4f8fc;
  padding: 0;
  margin: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

#inputForm {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 10px;
}

#table {
  text-align: center;
}

#table th {
  text-align: center;
}

.ui-datatable thead th {
  width: 100%;
  text-align: center;
}

.ui-datatable-header ui-widget-header ui-corner-top {
  display: flex;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7ddcf0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to on hover */
li a:hover {
  background-color: #50cfeb;
}

#globalmsg {
  width: 50%;
}

#logoutBtn {
  margin-top: 10px;
}
